$background_fondo_caja_padre: rgb(128, 186, 240);
$background_fondo_caja_hija: rgb(255, 253, 136);
$background_fondo_caja_padre2: rgb(182, 236, 34);

$background_inicio: rgb(255, 0, 0);
$background_mitad: rgb(0, 255, 0);
$background_fin: rgb(0, 0, 255);